    <!--==========================
          Facts Section
        ============================-->
    <section id="facts">
        <div class="container wow fadeIn">
            <div class="section-header">
                <h3 class="section-title">Tech Facts</h3>
                <p class="section-description">Its hard to stay on top these days, heres the low down on whats
                    happening.</p>
            </div>
            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">232</span>
                    <p>Python growth</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">521</span>
                    <p>Projects</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">19</span>
                    <p>Types of developers</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">710</span>
                    <p>Global Coding Languages</p>
                </div>

            </div>

        </div>
    </section><!-- #facts -->